<section class="card register">
	<form name="myform">
		<div class="textintro">
			<h1>Register</h1>
			<p>To access site features</p>
			<p>{{ message }}</p>
		</div>

		<fieldset>
			<input type="text" name="firstname" placeholder="firstname">
			<input type="text" name="lastname" placeholder="lastname">
			<input type="email" name="email" placeholder="email">
			<input type="password" name="password" placeholder="password">
		</fieldset>

		<button type="submit" class="btn">Register</button>
		<p>or <a href="#/login">login</a></p>
	</form>
</section>